.about {
    background-color: $dark-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $desktop-pad-sec $desktop-side-pad;

    .img-container {
        width: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        

        .about-img {
            @include img-cover(false);
        }
    }

    p,
    h1 {
        color: $light-font;
    }

    h1 {
        text-align: center;
    }

}