.book-page {

    section:not(:last-child) {
        @include line;
        margin-bottom: 0;
    }

    .books {
        padding-top:  $desktop-pad-sec;
    }

    .buttons {
        padding-bottom: $desktop-pad-sec;
    }
}