.quilts {
    padding-top: $desktop-pad-sec;
    padding-left: $desktop-side-pad;
    padding-right: $desktop-side-pad;

    h1 {
        text-align: center;
    }

    .iron-icon {
        fill: $dark-background;
        stroke: white;
    }

    .paper-carousel_wrapper {
        align-items: center;
        padding-bottom: 2rem;
    }

    .paper-carousel_dot a::before {
        background: $dark-background;
    }

    .buttons {
        display: flex;
        justify-content: flex-end;
    }
}

@media screen and (min-width: 1450px) {
    .quilts {
        background: $light-background;
        color: $dark-font;
        padding-bottom: 0;

        .quilt-container {
            padding-bottom: 6rem;
        }
    }
}

@media screen and (max-width: 600px) {
    .quilts {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}


