header {
    .logo {
        margin-left: 1em;
        width: 80px;
    }

    .company-header {
        display: flex;
        align-items: center;
        padding-top: 1em;
    }

    .company-name {
        @include main-header;
        margin: 0 0 0 .5em;
    }

    .banner {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: end;
        padding: 0 5ex;
        img {
            max-height: 85px;
        }
    }
}
