.quilts-page {
    main{
        padding: $desktop-pad-sec $tablet-side-pad;
        max-width: 1200px;
        margin: 0 auto;

        @media screen and (max-width: $phoneLandscape) {
            padding: $tablet-side-pad $phone-side-pad;
        }

        h1 {
            text-align: center;
            padding-bottom: 1em;
        }

        @media screen and (max-width: $tabletLandscape) {
            h1,
            h2,
            h3 {
                text-align: center;
            }  
        }
        
        .cards {
            @include grid-two-col;
            align-items: center;

            @media screen and (max-width: $tabletLandscape) {
                @include grid-one-col;
                justify-items: center;
            }
        }

        #first {
            align-self: flex-start;
        }
    }
    
    
}