// font styles, sizes ect
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700|Merriweather:400,900|Montserrat:500,500i');

// font-family: 'Montserrat', sans-serif;
// font-family: 'Merriweather', serif;

$f-header: 'Merriweather', serif;
$f-body: 'Montserrat', sans-serif;
$f-logo: 'Dancing Script', serif;

$fw-n: 400;
$fw-m: 500;
$fw-b: 900;
$fw-semi-b: 700;

@mixin main-header($ff: $f-logo, $fw: $fw-semi-b, $fs: 3em, $color: $light-font, $ls: .2em) {
    font-size: $fs;
    font-family: $ff;
    font-weight: $fw;
    color: $color;
    letter-spacing: $ls;
}

@mixin font-body($fs: $p-size-desktop, $color: $dark-font, $lh: 1.5em) {
    font-size: $fs;
    color: $color;
    line-height: $lh;
    font-family: $f-body;
    font-weight: $fw-n;
}

@mixin font-header($fs: $h1-size-desktop, $color: $dark-font, $lh: 1.5em, $ls: 0.3rem, $fw: $fw-b) {
    font-size: $fs;
    color: $color;
    line-height: $lh;
    font-family: $f-header;
    font-weight: $fw;
    letter-spacing: $ls;
}

