// variables to be used other than colors
$desktop-pad-sec: 4em;
$tablet-pad-sec: 2em;
$desktop-side-pad: 4em;
$tablet-side-pad: 2em;
$phone-side-pad: 1em;

// font sizes for headers, p, and buttons
$h1-size-desktop: 1.8rem;
$h1-size-phone: 1.5rem;
$h2-size-desktop: 1.5rem;
$h2-size-phone: 1.3rem;
$h3-size-desktop: 1.1rem;
$h3-size-phone: 1rem;

$p-size-desktop: 1.1rem;
$p-size-phone: 1rem;

$button-size-desktop: 1em;
$button-size-phone: 0.8em;